
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        

    }
    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    a:hover {
        text-decoration: underline;
        color: bisque;
    }

    #northSideChicago {
        background-color: skyblue;
    }

    .img-fluid {
        width: auto;
        max-height: 600px;
    }